/* 
========================================================================
========================================================================
=================          ALGEMENE STYLING          ===================
========================================================================
========================================================================
*/

/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

:root {
  --colorBlue: #1C9AEF;
  --colorBackground: #444;
  --colorPurple: #8B4BCC;
  --colorGreen: #6AA120;
  --colorOrange: #F05523;
  --colorRed: #BC0F0F;
  --colorGrey: #979aa4;
  --colorHamburgerMenu: #b9b9b9;
  --colorNavbar: #121212;
  --colorFooterTop: #242527;
  --colorFooterBottom: #191A1B;

  --fontRobCon: "Roboto Condensed", roboto, helvetica, sans-serif;
  --fontRob: 'Roboto', sans-serif;
  --fontNoto: 'Noto Sans', sans-serif; 
}

body {
  background-color: var(--colorBackground);
}

h1, h2, h3, h4, a, p, button, li {
  font-family: var(--fontRobCon);
}

/* 
======================
======================
====  TIJDELIJK ======
======================
======================
*/

.page1 a,
.page2 a {
  text-decoration: none;
}


/* 
===================================================================================================================
===================================================================================================================
===================================================================================================================
==========================================           PAGE 1           ============================================= 
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

/* Zorgt voor de overlay van het hamburger menu (waarbij er 
een zwarte achtergrond met opacity van 0.5 tevoorschijn komt) */

body:first-child {
  display: none;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
}

.position-fixed {
  position: fixed;
}

/* 
========================================================================
========================================================================
=====================          HEADER           ========================
========================================================================
========================================================================
*/

/* ====== header balk + logo ====== */

header > div div {
  width: 100vw;
  height: 3.125rem;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--colorNavbar);
  border-bottom: 1px solid #e40712;
  display: flex;
  justify-content: space-between;
  transform: translateX(0);
  transition: all 200ms ease-in-out;
  z-index: 999;
}

header > div div a {
  width: 7.5rem;
}

header > div div a img {
  padding: 0.625rem;
  width: 7.5rem;
  min-width: 6.875rem;
}

.mob-nav-open {
  transform: translateX(-17.1875rem);
}

/* ====== hamburger menu icon ====== */
header > div div div {
  cursor: pointer;
  padding: 1rem;
  margin-right: 0.8rem;
  position: relative;
  top: 1px;
  right: 0.5rem;
  width: 3.5rem;
  height: 3rem;
  border-bottom: none;
  border-left: 1px solid var(--colorBackground);
  z-index: 1000;
}
header > div div div a {
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  background: var(--colorHamburgerMenu);
  width: 1.5rem;
  height: 0.125rem;
  box-shadow: 
    0 0.5rem 0 0 var(--colorHamburgerMenu),
    0 1rem 0 0 var(--colorHamburgerMenu);
    z-index: 1000;
}


/* ====== hamburger menu ====== */

header > div nav {
  width: 17.1875rem;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: var(--colorNavbar);
  z-index: 5000;
  transform: translateX(17.1875rem);
  transition: all 200ms ease-in-out;
}

/* = JS = */
.mob-menu {
  transform: translateX(0);
}
/* ====== */

header > div nav button {
  color: #fff;
  font-family: var(--fontNoto);
}

/* icons top */
header > div nav div {
  height: 2.9375rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #090809;
}

header > div nav div img {
  width: 1.125rem;
  height: 1.125rem;
  margin: 0.9375rem;
}
header > div nav div span {
  height: 2.9375rem;
  padding: 0 1.25rem;
  border-left: 1px solid #262629;
  display: flex;
  align-items: center;
}

header > div nav div span img {
  width: 1.375rem;
  height: 1.375rem;
  margin: 0;
  border-radius: 50%;
}

/* Items */
header > div nav ul {
  list-style: none;
  background: var(--colorNavbar);
}

header > div nav ul li {
  border-bottom: 1px solid #353535;
}

header > div nav ul li a {
  font-size: 1.125rem;
  line-height: 3.125rem;
  padding: 0 3rem;
  display: block;
  position: relative;
  color: #fff;
  font-family: var(--fontNoto);
}

/* Arrow Markers */
header > div nav > ul li:nth-of-type(1) a::before,
header > div nav > ul li:nth-of-type(2) a::before,
header > div nav > ul li:nth-of-type(3) a::before,
header > div nav > ul li:nth-of-type(4) a::before,
header > div nav > ul li:nth-of-type(5) a::before,
header > div nav > ul li:nth-of-type(6) a::before {
  content: '';
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  transform: rotate(-45deg) translateY(-50%);
  border-bottom: 1px solid var(--colorHamburgerMenu);
  border-left: 1px solid var(--colorHamburgerMenu);
  top: 50%;
  left: 1.5625rem;
}

/* Sign Out */
header > div nav button {
  font-family: var(--fontNoto);
  background: #353535;
  border: none;
  border-top: 1px solid #555;
  font-size: 1.125rem;
  width: 100%;
  line-height: 3.125rem;
}
/* 
========================================================================
========================================================================
======================          MAIN           =========================
========================================================================
========================================================================
*/

.page1 main {
  background-image: url(../images/img-gen/background_texture.png);
  overflow-y: hidden;
}

.page1 main section {
  margin: 1rem auto;
  width: 98vw;
}

.page1 main section ul {
  list-style: none;
}


.page1 main p {
  padding: 0 1.5625rem 0;
}


/*
======================
======================
=======  NAV =========
======================
======================
*/


/* ====== achtergrond afbeelding main nav ====== */
.page1 main div nav {
  background-image: url(../images/img-gen/tasha_homepage.jpg);
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: cover;
}

/* ============ items main nav ============ */
.page1 main div nav ul,
.page1 main > nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
}
.page1 main div nav li,
.page1 main > nav li {
  position: relative;
  top: -1rem;
}
.page1 main div nav a,
.page1 main > nav a {
  text-decoration: none;
}

.page1 main div nav ul li:nth-of-type(1) img,
.page1 main div nav ul li:nth-of-type(2) img,
.page1 main div nav ul li:nth-of-type(3) img,
.page1 main div nav ul li:nth-of-type(4) img,
.page1 main > nav ul li:nth-of-type(1) img,
.page1 main > nav ul li:nth-of-type(2) img,
.page1 main > nav ul li:nth-of-type(3) img,
.page1 main > nav ul li:nth-of-type(4) img {
  min-height: 8.4375rem;
  min-width: 18.75rem;
  width: 18.75rem;
  padding: 1.25rem;
}

.page1 main div nav h2,
.page1 main > nav h2 {
  position: absolute;
  font-size: 1.625rem;
  line-height: 1.5625rem;
  width: 5.625rem;
  z-index: 99;
}

.page1 main div nav ul li:nth-of-type(1) h2,
.page1 main > nav ul li:nth-of-type(1) h2 {
  color: var(--colorBlue);
  top: 4.375rem;
  left: 2.5rem;
}

.page1 main div nav ul li:nth-of-type(2) h2,
.page1 main > nav ul li:nth-of-type(2) h2{
  color: var(--colorPurple);
  top: 4.25rem;
  left: 1.75rem;
}

.page1 main div nav ul li:nth-of-type(3) h2,
.page1 main > nav ul li:nth-of-type(3) h2{
  color: var(--colorGreen);
  top: 3.75rem;
  left: 2.5rem;
}

.page1 main div nav ul li:nth-of-type(4) h2,
.page1 main > nav ul li:nth-of-type(4) h2 {
  color: var(--colorOrange);
  top: 4.0625rem;
  left: 2.5rem;
}
.page1 main div nav ul li:nth-of-type(4) p,
.page1 main > nav ul li:nth-of-type(4) p {
  display: inline;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  padding: 0.2rem 0.4rem;
  background-color: #1b9af0;
  color: #fff;
  font-size: 0.8125rem;
  border-radius: 0.2rem;
}

/*
======================
======================
===== SECTION 1 ======
======================
======================
*/
.page1 main div section {
  background-color: #fff;
  border-top: 1px solid #5b5b5b;
  box-shadow: 0 0 0.9375rem grey;
}

.page1 main div section article h1,
.page1 main div section article p {
  background-color: #fff;
  z-index: 70;
}

.page1 main div section article h1 {
  font-size: 1.25rem;
  color: #000;
  text-decoration: none;
  padding: 1.25rem 1.5625rem;

}

.page1 main div section article p {
  font-size: 0.875rem;
  font-family: var(--fontRob);
  line-height: 1.225rem;
}

.page1 main div section article img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.page1 main div section article input {
  display: none;
}


.page1 main div section iframe {
  display: none;
}


/*
======================
======================
===== SECTION 2 ======
======================
======================
*/

.page1 main section:nth-of-type(1) li {
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 0.9375rem grey;
}

.page1 main section:nth-of-type(1) h3 {
  font-size: 1.25rem;
  background-color: #fff;
  padding: 1.25rem 1.5625rem;
  color: #0d0d0d;
}
.page1 main section:nth-of-type(1) ul li p {
  display: none;
}

.page1 main section:nth-of-type(1) a img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.page1 main section:nth-of-type(1) li a:nth-of-type(2) {
  display: none;
}

/*
======================
======================
======= BUTTON =======
======================
======================
*/

.page1 input[value="SEE ALL POSTS"] {
  visibility: visible;
  font-family: var(--fontRobCon);
  color: #fff;
  background-color: var(--colorRed);
  font-size: 1rem;
  text-align: center;
  font-weight: 700;

  height: 3.125rem;
  width: 100%;
  min-width: 15.625rem;
  max-width: 14.0625rem;
  border: none;
  border-radius: 0.125rem;
  box-shadow: none;
  padding: 0.3076875rem 0.615375rem;
  margin: 0 auto;
}

.page1 .container {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0 2.5rem;
}

/*
======================
======================
===== NAV ONDER ======
======================
======================
*/

.page1 main > nav {
  background-image: none;
}

.page1 main > nav ul {
  margin: 0.625rem 0;
}

.page1 main > nav ul li:nth-of-type(1) h2 {
  color: var(--colorPurple);
  top: 5.1875rem;
  left: 2.5rem;
}

.page1 main > nav ul li:nth-of-type(2) h2 {
  color: var(--colorBlue);
  top: 5.1875rem;
  left: 2.5rem;
}
.page1 main > nav ul li:nth-of-type(3) h2 {
  top: 4.6875rem;
}
.page1 main > nav ul li:nth-of-type(4) h2 {
  top: 4.6875rem;
}

.page1 main > nav ul li:nth-of-type(4) p {
  display: inline;
  position: absolute;
  top: 3.125rem;
  left: 2.5rem;
  padding: 0.2rem 0.4rem;
  background-color: #1b9af0;
  color: #fff;
  font-size: 0.8125rem;
  border-radius: 0.2rem;
}

.page1 main > nav ul li:nth-of-type(1) img,
.page1 main > nav ul li:nth-of-type(2) img,
.page1 main > nav ul li:nth-of-type(3) img,
.page1 main > nav ul li:nth-of-type(4) img {
  min-height: 8.4375rem;
  width: 21.875rem;
  padding: 1.25rem;
}

/* 
========================================================================
========================================================================
=====================          FOOTER           ========================
========================================================================
========================================================================
*/

.page1 footer p,
.page1 footer h3,
.page1 footer a {
  color: #fff;
}


/* ====== dnd beyond and fandom logo section ====== */
.page1 footer div section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}

.page1 footer div section:nth-of-type(1) img {
  width: 5.75rem;
}
.page1 footer div section:nth-of-type(1) div {
  margin: 1.25rem 0 0.625rem;
}
.page1 footer div section:nth-of-type(1) a img {
  width: 12.5rem;
  margin: 0.625rem 0 0;
}

.page1 footer div section:nth-of-type(1) a p {
  font-size: 0.75rem;
  color: #979aa4;
  line-height: 1.05rem;
  font-weight: 700;
}

.page1 footer div section:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page1 footer div section:nth-of-type(1) div p {
  font-size: 0.875rem;
  padding: 0.3125rem 0 0;
  color: var(--colorGrey);
}


/* ====== footer background color ====== */
.page1 footer div section:nth-of-type(1),
.page1 footer div section:nth-of-type(2) {
  background-color: var(--colorFooterTop);
}
.page1 footer > section,
.page1 footer > section div {
  background-color: var(--colorFooterBottom);
}


/* ================== links ================== */

.page1 footer div section:nth-of-type(2) nav {
  display: flex;
  margin: 0 2.5rem 0 1rem;
}

.page1 footer div section:nth-of-type(2) nav ul {
  list-style: none;
  padding: 0 0.3125rem 0.3125rem;
  flex: 0 0 33.33333%;
}

.page1 footer div section:nth-of-type(2) nav ul li {
  padding-top: 0.3125rem;
}

.page1 footer div section:nth-of-type(2) nav ul li:first-of-type {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--colorGrey);
  padding-bottom: 0.625rem;
  padding: 0 0 0.625rem 0;
}

.page1 footer div section:nth-of-type(2) nav ul a {
  font-size: 0.875rem;
  font-weight: 700;
}

/* ============ footer bottom part  ============ */
.page1 footer > section div {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}
.page1 footer > section div div {
  padding: 0;
}

.page1 footer > section p, 
.page1 footer > section ul li a {
  color: var(--colorGrey);
  font-size: 0.75rem;
}

.page1 footer > section p:nth-of-type(1) {
  margin: 0 0 0.625rem;
}

.page1 footer > section ul {
  display: flex;
  justify-content: space-evenly;
}


/* Hiermee style ik de list elementen die tussen de Privacy Policy, TOS, Support staan */
.page1 footer > section ul li::marker {
  color: var(--colorGrey);
  font-size: 0.6rem;
  content: '\2022';
}

.page1 footer > section ul li:nth-of-type(1)::marker {
  content: '';
}

.page1 footer > section ul li {
  padding-left: 0.375rem;
}



/* 
========================================================================
========================================================================
===============          RESPONSIVE PAGINA 1          ==================
========================================================================
========================================================================
*/


@media (min-width: 540px) {
  .page1 main div nav {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page1 main > div:nth-of-type(1) {
    background-image: url(../images/img-gen/tasha_homepage.jpg);
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page1 main div nav ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0 4rem;
  }

  .page1 main div nav ul li:nth-of-type(1) img,
  .page1 main div nav ul li:nth-of-type(2) img,
  .page1 main div nav ul li:nth-of-type(3) img,
  .page1 main div nav ul li:nth-of-type(4) img {
    min-height: 6.25rem;
    min-width: 15.625rem;
    width: 17.5rem;
  }

  .page1 main div nav ul li:nth-of-type(1) h2 {
    top: 4.0625rem;
  }
  
  .page1 main div nav ul li:nth-of-type(2) h2 {
    top: 3.9375rem;
  }
  
  .page1 main div nav ul li:nth-of-type(3) h2 {
    top: 3.4375rem;
  }
  
  .page1 main div nav ul li:nth-of-type(4) h2 {
    top: 3.75rem;
  }
  .page1 main div nav ul li:nth-of-type(4) p {
    top: 2.1875rem;
  }

}


@media (min-width: 600px) {
  .page1 footer {
    background: var(--colorFooterTop);
  }

  .page1 footer > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0.625rem 1.875rem;
    background-color: var(--colorFooterTop);
  }

  .page1 footer section div {
    align-items: flex-start;
  }
  
  .page1 footer + section {
    background: var(--colorFooterBottom);
  }

  .page1 footer section div ul {
    width: 100%;
  }

  .page1 footer div section:nth-of-type(1) {
    padding: 0;
  }
  
}

@media (min-width: 620px) {
  .page1 main nav:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page1 main nav:nth-of-type(1) ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .page1 main nav:nth-of-type(1) ul li:nth-of-type(1) img,
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(2) img,
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(3) img,
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(4) img {
    min-height: 6.25rem;
    min-width: 15.625rem;
    width: 17.5rem;
  }

  .page1 main nav:nth-of-type(1) ul li:nth-of-type(1) h2 {
    top: 4.0625rem;
  }
  
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(2) h2 {
    top: 4.0625rem;
  }
  
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(3) h2 {
    top: 3.4375rem;
  }
  
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(4) h2 {
    top: 3.75rem;
  }
  .page1 main nav:nth-of-type(1) ul li:nth-of-type(4) p {
    top: 2.1875rem;
  }
}

@media (min-width: 768px) {

  .page1 main div section div article > p {
    display: none;
  }

  .page1 main div section {
    background-color: transparent;
    box-shadow: none;
    padding-top: 0.625rem;
    margin: 0 auto;
  }
  .page1 main div section div {
    display: grid;
    grid-template-columns: 49% 51%;
  }

  .page1 main div section div article {
    padding-right: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem 0;
  }

  .page1 main div section div article input {
    display: block;
    align-self: flex-start;
    background: #000;
    color: #fff;
    font-family: var(--fontRobCon);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    border-radius: 0.125rem;
    border: 0.125rem solid #595758;
    margin-top: 0.625rem;
  }

  .page1 main div section div article a h1,
  .page1 main div section div article p {
    color: #fff;
    background-color: transparent;
    padding: 1.25rem 1.5625rem 0 0;
  }
  
  .page1 main div section div article h1 {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    margin: 1.25rem 1.5625rem 0 0;
  }

  .page1 main div section div article p {
    padding: 0;
    margin: 0.625rem 0 0 0;
  }
  
  .page1 main div section div article img {
    display: none;
  }

  .page1 main div section iframe {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 19.8125rem;
    min-height: 23.25rem;
    padding: 1rem 0 1rem 1rem;
    aspect-ratio: 16/9;
  }

  .page1 main section:nth-of-type(1) ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .page1 main section:nth-of-type(1) h3 {
    font-size: 1.75rem;
  }

  .page1 main section:nth-of-type(1) ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page1 main section:nth-of-type(1) ul li p {
    display: block;
  }

  .page1 main section:nth-of-type(1) li a:nth-of-type(2) {
    display: block;
    font-size: 1rem;
    font-family: var(--fontRob);
    color: var(--colorRed);
    padding: 0.625rem 1.5625rem 1.25rem;
  }

}

@media (min-width: 1024px) {

  .page1 main section:nth-of-type(1) ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 1rem;
  }

  .page1 main section:nth-of-type(1) ul li:nth-of-type(1) {
    grid-column: 1 / 4 ;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(2) {
    grid-column: 4 / 7;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(3) {
    grid-column: 1 / 3;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(4) {
    grid-column: 3 / 5;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(5) {
    grid-column: 5 / 7;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(6) {
    grid-column: 1 / 3;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(7) {
    grid-column: 3 / 5;
  }
  .page1 main section:nth-of-type(1) ul li:nth-of-type(8) {
    grid-column: 5 / 7;
  }

  .page1 main section:nth-of-type(1) div article h1 {
    font-size: 2.625rem;
  }
  .page1 main section:nth-of-type(1) div article p {
    display: block;
    margin: 0.1rem 0;
    padding: 0;
  }

  .page1 footer section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }

  .page1 footer section div div {
    display: flex;
    flex-direction: column;
  }

  .page1 footer div section:nth-of-type(1) div {
    flex-direction: row;
    margin: 0.9375rem 0 0 4.75rem;
  }

  .page1 footer div section:nth-of-type(1) div p {
    padding: 0.3125rem 0 0 0.375rem;
  }
  /* .page1 footer section div {
    align-items: flex-start;
  }  */

   /* .page1 footer section div ul {
     align-self: flex-end;
    width: 100%;
  } */
  
}

@media (min-width: 1220px) {
  header > div {
    width: 100vw;
    height: 3.125rem;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--colorNavbar);
    border-bottom: 1px solid #e40712;
    transform: translateX(0);
    transition: all 200ms ease-in-out;
    z-index: 999;
  }

  header > div div {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    align-items: center;
    margin: 0 auto;
  }

  header > div nav {
    display: none;
  }

  header > div div div {
    display: none;
  }

  header > div div div a {
    display: none;
  }

  .page1 footer > div {
    max-width: 62.5rem;
    margin: 0 auto;
  }

  .page1 main > div:nth-of-type(1) section,
  .page1 main + section,
  .page1 main section:nth-of-type(1) ul,
  .page1 footer section div {
    max-width: 75rem;
    margin: 0 auto;
  }

  .page1 main div nav:first-of-type ul {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 0;
    max-width: 75rem;
    margin: 0 auto;
  }

  .page1 main + nav ul {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 0;
    max-width: 75rem;
    margin: 0 auto;
  }

}


























/* 
===================================================================================================================
===================================================================================================================
===================================================================================================================
==========================================           PAGE 2           ============================================= 
===================================================================================================================
===================================================================================================================
===================================================================================================================
*/

.page2 {
  background-color: #fff;
}

.page2 header {
  position: sticky;
  top: 0;
  z-index: 333;
}

/* 
========================================================================
========================================================================
======================          MAIN           =========================
========================================================================
========================================================================
*/


/*
======================
======================
===== SECTION 1 ======
======================
======================
*/

.page2 main section:nth-of-type(1) {
  padding: 0.3125rem;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  position: sticky;
  top: 3.125rem;
  z-index: 200;
}

.page2 main section:nth-of-type(1) div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
}

.page2 main section:nth-of-type(1) div img {
  margin-top: 0.5rem;
  margin-left: 0.3125rem;
  width: 2.75rem;
  height: 2.75rem;
  border: 0.125rem solid var(--colorRed);
  border-radius: 0.1875rem;
}
.page2 main section:nth-of-type(1) div:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
  padding-left: 0.625rem;
  margin-top: 0.5rem;
}
.page2 main section:nth-of-type(1) div:nth-of-type(1) div h1 {
  font-family: var(--fontRobCon);
  font-size: 1.125rem;
  font-weight: 400;
  color: #fff;
}
.page2 main section:nth-of-type(1) div:nth-of-type(1) div p {
  font-family: var(--fontRobCon);
  font-size: 0.625rem;
  color: #838383;
}
.page2 main section:nth-of-type(1) div:nth-of-type(1) div p:nth-of-type(2) {
  color: #fff;
}

.page2 main section:nth-of-type(1) div:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colorRed);
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
}

.page2 main section:nth-of-type(1) div:nth-of-type(2) div p {
  color: #fff;
  font-size: 0.4375rem;
}

.page2 main section:nth-of-type(1) div:nth-of-type(2) div p {
  color: #fff;
  font-size: 0.4375rem;
}
.page2 main section:nth-of-type(1) div:nth-of-type(2) div p:nth-of-type(2) {
  font-size: 1.25rem;
} 

.page2 main section:nth-of-type(1) div:nth-of-type(2) > p {
  font-size: 0.5rem;
  color: #fff;
  padding: 0.125rem 0.3125rem;
  border: 1px solid var(--colorRed);
  text-align: center;
  margin-top: 0.1875rem;
}



/*
======================
======================
===== SECTION 2 ======
======================
======================
*/

.page2 main section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 0.6875rem;
  font-weight: 700;
  background-color: #404040;
  border-top: 1px solid #838383;
  border-bottom: 0.125rem solid #c53131;
  padding: 0.3125rem 0.5rem;
}


/* === DIV 1 === */ 
.page2 main section:nth-of-type(2) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.625rem;
}

.page2 main section:nth-of-type(2) div p:nth-of-type(2) {
  font-family: var(--fontRob);
  font-size: 1.625rem;
  font-weight: 600;
  transform: translateX(-0.3rem);
}
.page2 main section:nth-of-type(2) div p:nth-of-type(2) span {
  font-family: var(--fontRob);
  color: #838383;
  font-size: 1.25rem;
  font-weight: 500;
}

/* === DIV 2 === */ 
.page2 main section:nth-of-type(2) div:nth-of-type(2) {
  transform: translateX(-0.3rem);
}

.page2 main section:nth-of-type(2) div:nth-of-type(2) p:nth-of-type(1) {
  color: #838383;
  font-size: 0.625rem;
}

.page2 main section:nth-of-type(2) div:nth-of-type(2) p:nth-of-type(2) {
  transform: translateX(0.2rem);
} 

/* === DIV 3 === */ 
.page2 main section:nth-of-type(2) div:nth-of-type(3) p:nth-of-type(1) {
  font-size: 1.625rem;
  font-weight: 400;
  font-family: var(--fontRob);
  padding: 1px 0.875rem;
  border: 1px solid #fff;
  border-radius: 0.3125rem;
  transform: translateX(-0.3rem);
}

.page2 main section:nth-of-type(2) div:nth-of-type(3) p:nth-of-type(1) span {
  color: #838383;
  font-size: 1.25rem;
}

.page2 main section:nth-of-type(2) div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 0.6875rem;
  margin-top: 0.125rem;
}

/* === DIV 4 === */ 
.page2 main section:nth-of-type(2) div:nth-of-type(4) p:nth-of-type(2) {
  font-family: var(--fontRob);
  transform: translateX(0.01rem);
}

/* === DIV 5 === */ 
.page2 main section:nth-of-type(2) div:nth-of-type(5) {
  margin: 0;
}

.page2 main section:nth-of-type(2) div:nth-of-type(5) div {
  display: block;
  margin: 0;
}
.page2 main section:nth-of-type(2) div:nth-of-type(5) div p {
  font-weight: 700;
  font-family: var(--fontRobCon);
  font-size: 0.625rem;
  background-color: #333;
  border: 1px solid #c53131;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.1875rem;
  text-align: center;
  transform: translateX(-0.3rem);

}

.page2 main section:nth-of-type(2) div:nth-of-type(5) div p:nth-of-type(1) {
  margin-bottom: 0.375rem;
}


/*
======================
======================
===== SECTION 3 ======
======================
======================
*/

.page2 main section:nth-of-type(3) p {
  width: 95vw;
  margin: 0.7rem auto;
  padding: 0.3125rem 0.625rem;
  border: 1px solid #c53131;
  border-radius: 0.125rem;
  text-align: center;
  font-family: var(--fontRob);
  font-size: 0.8125rem;
}

.page2 main section:nth-of-type(3) p span {
  font-family: var(--fontRobCon);
  font-weight: 700;
}


/*
======================
======================
===== SECTION 4 ======
======================
======================
*/


.page2 main section:nth-of-type(4) {
  margin: 2.5rem 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.page2 main section:nth-of-type(4) div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 5.0625rem;
}

.page2 main section:nth-of-type(4) div div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page2 main section:nth-of-type(4) div p {
  font-family: var(--fontRobCon);
  font-size: 0.625rem;
  color: #838383;
  z-index: 10;
  padding-top: 0.3125rem;
}

.page2 main section:nth-of-type(4) div p:nth-of-type(2) {
  font-family: var(--fontRob);
  font-size: 1.625rem;
  font-weight: 400;
  color: #394b59;
  padding: 0.3125rem 0.125rem 0;
  transform: translateX(-0.3rem);
}

.page2 main section:nth-of-type(4) div p span {
  font-size: 1.25rem;
  font-family: var(--fontRob);
  font-weight: 400;
  margin-right: 1px;
  color: #838383;
}

.page2 main section:nth-of-type(4) div p:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  padding-top: 0.625rem;
}

/*
======================
======================
===== SECTION 5 ======
======================
======================
*/


/* ==== SVG SAVING THROW TOP ==== */
.page2 main section:nth-of-type(5) div:first-of-type {
  display: flex;
}

.page2 main section:nth-of-type(5) div:first-of-type svg {
  width: 100%;
  height: 18px;
}

.page2 main section:nth-of-type(5) div:first-of-type svg:nth-of-type(1) {
  width: 2rem;
}

.page2 main section:nth-of-type(5) div:first-of-type svg:nth-of-type(3) {
  transform: scaleX(-1);
  width: 2rem;
}
/* ==== ==== */

.page2 main section:nth-of-type(5) h2 {
  font-size: 0.875rem;
  text-align: center;
}

.page2 main section:nth-of-type(5) h2 img {
  width: 1rem;
  transform: translateY(0.2rem);
}


.page2 main section:nth-of-type(5) > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 6rem 6rem;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem 2rem;
  margin: 0.8rem 0;
  justify-content: center;
}

.page2 main section:nth-of-type(5) div div {
  display: flex;
  position: relative;
  align-items: center;
  width: 7rem;
  height: 2rem;
}

.page2 main section:nth-of-type(5) div div div {
  position: absolute;
}

.page2 main section:nth-of-type(5) div div img {
  height: 2rem;
}

.page2 main section:nth-of-type(5) div div p:nth-of-type(1) {
  font-family: var(--fontRobCon);
  font-size: 0.75rem;
  font-weight: 700;
  position: absolute;
  left: 1.6rem;
}
.page2 main section:nth-of-type(5) div div p:nth-of-type(2) {
  font-family: var(--fontRob);
  font-size: 0.875rem;
  color: #394b59;
  position: absolute;
  right: 1rem;
}
.page2 main section:nth-of-type(5) div div p:nth-of-type(2) span {
  font-size: 0.75rem;
  margin-right: 1px;
  color: #838383;
}

.page2 main section:nth-of-type(5) div + p:last-of-type {
  font-family: var(--fontRob);
  font-size: 0.8125rem;
  margin: 0 0.5rem 0.5rem;
}

.page2 main section:nth-of-type(5) p img {
  width: 1.125rem;
  margin-right: 0.125rem;
  transform: translateY(.2rem);
}


/* ==== SVG SAVING THROW BOTTOM ==== */
.page2 main section:nth-of-type(5) div:last-of-type {
  display: flex;
}

.page2 main section:nth-of-type(5) div:last-of-type svg {
  width: 100%;
  height: 18px;
  transform: scaleY(-1);
}

.page2 main section:nth-of-type(5) div:last-of-type svg:nth-of-type(1) {
  width: 2rem;
}

.page2 main section:nth-of-type(5) div:last-of-type svg:nth-of-type(3) {
  transform: scaleX(-1) scaleY(-1);
  width: 2rem;
}

/* ==== ==== */


/*
======================
======================
===== SECTION 6 ======
======================
======================
*/

/* ==== SVG SENSES TOP ==== */
.page2 main section:nth-of-type(6) div:first-of-type {
  display: flex;
  margin-top: 0.6rem;
}

.page2 main section:nth-of-type(6) div:first-of-type svg {
  width: 100%;
  height: 18px;
}

.page2 main section:nth-of-type(6) div:first-of-type svg:nth-of-type(1) {
  width: 2rem;
}

.page2 main section:nth-of-type(6) div:first-of-type svg:nth-of-type(3) {
  transform: scaleX(-1);
  width: 2rem;
}
/* ==== ==== */

.page2 main section:nth-of-type(6) h2 {
  font-family: var(--fontRobCon);
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
}
.page2 main section:nth-of-type(6) h2 img {
  width: 1rem;
  transform: translateY(0.17rem);
}

/* ==== SVG SENSES BOTTOM ==== */
.page2 main section:nth-of-type(6) div:last-of-type {
  display: flex;
}

.page2 main section:nth-of-type(6) div:last-of-type svg {
  width: 100%;
  height: 18px;
  transform: scaleY(-1);
}

.page2 main section:nth-of-type(6) div:last-of-type svg:nth-of-type(1) {
  width: 2rem;
}

.page2 main section:nth-of-type(6) div:last-of-type svg:nth-of-type(3) {
  transform: scaleX(-1) scaleY(-1);
  width: 2rem;
}

/* ==== ==== */